.banner {
    width: 100%;
}

.container-tarjetas {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.tarjeta-oferta {
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}