.banner {
    width: 100%;
}

.container-tarjetas {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}


.tarjeta-oferta {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tarjeta-promos,
.tarjeta-envio {
    display: none;
}

@media (min-width:992px) {

    .tarjeta-promos,
    .tarjeta-envio {
        display: block;
    }

    .tarjeta-cuotas{
        width: 30vw;
    }
}