.filtros-container{
    width: 100vw;
}

.lista-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
}

.lista-filtros li{
    padding: .5rem .8rem;
    border: 1px solid;
    border-radius: 1rem;
}

.lista-filtros li :hover{
    cursor: pointer;
}



@media (min-width:576px){
    .lista-filtros{
        gap: 1rem;
    }
}
