.filtros-container{
    width: 100vw;
}

.lista-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
}

.lista-filtros li{
    padding: .5rem .8rem;
    background-color: black;
    border-radius: 1rem;
}

.item-nav-filter{
    color: white;
}

@media (min-width:768px){
    .lista-filtros{
        gap: 1rem;
    }
}
