.footer{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.titulo-footer{
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}
.input-email{
    height: 2rem;
    width: 60vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 1px;
    border: 1px solid white;
}

.input-button{
    height: 2rem;
    border: 1.8px white solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

@media (min-width:992px){
    .titulo-footer{
        font-size: 2rem;
    }
}